In [1]:
x = "python"
for l in x:
    print(l)

p
y
t
h
o
n

In [3]:
a = "i have an opportunity for film"
for c in a:
    print(c)

i

h
a
v
e

a
n

o
p
p
o
r
t
u
n
i
t
y

f
o
r

f
i
l
m

In [5]:
names = ['a', 'b', 'c', 'd','e']
for name in names:
    print(name, len(name)) # know the length, write the same (name)

a 1
b 1
c 1
d 1
e 1

In [7]:
fruits = ['ap', 'ba', 'le']
for items in fruits:
    print(f'i love to eat ap{items}')

i love to eat apap
i love to eat apba
i love to eat aple

#Range function

In [2]:
for i in range(10):
    print('proof',i)

proof 0
proof 1
proof 2
proof 3
proof 4
proof 5
proof 6
proof 7
proof 8
proof 9

In [1]:
#reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [6]:
#find the sum of 1 to 50 
x = 0
for i in range (1,51):
    x += i
print(x)

1275

In [7]:
#add all the numbers that are divisble by 3 ranging from 1 to 100
x = 0
for i in range (1,101):
    if i % 3 ==0:
        x += i
    print(x)

0
0
3
3
3
9
9
9
18
18
18
30
30
30
45
45
45
63
63
63
84
84
84
108
108
108
135
135
135
165
165
165
198
198
198
234
234
234
273
273
273
315
315
315
360
360
360
408
408
408
459
459
459
513
513
513
570
570
570
630
630
630
693
693
693
759
759
759
828
828
828
900
900
900
975
975
975
1053
1053
1053
1134
1134
1134
1218
1218
1218
1305
1305
1305
1395
1395
1395
1488
1488
1488
1584
1584
1584
1683
1683

In [8]:
#average of all numbers from 1 to 100
x = 0
for i in range(1,101):
    x += i
mean = x /100
print(mean)

50.5